.cart{
    box-shadow: 9px 13px 16px -7px rgba(226,218,218,0.83);
    -webkit-box-shadow: 9px 13px 16px -7px rgba(226,218,218,0.83);
    -moz-box-shadow: 9px 13px 16px -7px rgba(226,218,218,0.83);
    /* display: flex; */
    padding: 10rem;
    height:10rem;

}
.my-sidebar {
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    background-color: greenyellow; 
}

.numberInput{
    width:20%;
    margin:0 10px ;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.cart_buttons {
    margin-top: 60px;
    text-align: right
}

.order_total {

    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff;
    width: 50%;
}
.order_total_title {
    
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px;

}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px;
}

@media screen and (max-width: 700px) {

    .order_total {
      width: 100%;
      color: #000;
    }
  }